{% extends 'base.html' %}

{% block content %}
<div class="container bg-white pt-5">
    <div class="col-md-12 pb-5">
        <div class="contact-form">
            <div id="success"></div>

            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                
                {{ form.as_p }}
                
                <div>
                    <button class="btn btn-primary" type="submit">Post qo'shish</button>
                </div>
            </form>
            {% else %}
            <h1>Post qo'shish huquqiga ega emassiz!</h1>
            {% endif %}

            {% if form.instance.image_url %}
                <div class="mt-4">
                    <h3>Rasm:</h3>
                    <img src="{{ form.instance.image_url }}" alt="Image" class="img-fluid">
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
